<a href="https://webpages.charlotte.edu/hmakouan/">Webspace</a>
<a href="https://github.com/HaidaMarese">GitHub</a>
<a href="https://www.freecodecamp.org/HaidaM">FreeCodeCamp</a>
<a href="https://www.linkedin.com/in/hmakouan/">LinkedIn</a>
<a href="https://www.codecademy.com/profiles/Haida.M">Codecademy</a>
<a href="https://www.github.com/HaidaMarese/HaidaMarese.github.io">GitHub Course Page</a>

<div class="validation-buttons">
    <a href="https://jigsaw.w3.org/css-validator/" target="_blank" title="Validate CSS">
        <img src="images/ValCSS2.jpg" alt="CSS validation" class="validation-logo">
    </a>
    <a href="https://validator.w3.org/" target="_blank" title="Validate HTML">
        <img src="images/ValHTML1.jpg" alt="HTML validation" class="validation-logo">
    </a>
</div>
<p>HaidaM Web Creations © 2025, 
    <a href="https://freecodecamp.org/certification/HaidaM/javascript-algorithms-and-data-structures-v8" target="_blank">Certified in JADS</a>,
    <a href="https://www.freecodecamp.org/certification/HaidaM/responsive-web-design" target="_blank">Certified in Responsive Web Design</a>.
    <a href="https://webpages.charlotte.edu/hmakouan/" target="_blank">Visit my Webpage</a>.
</p>
