<header>
    <h1>Haida Makouangou 👩🏿‍🦱 | Hilarious Macaw 🦜 | ITIS 3135 💻</h1>

    <nav class="main-nav">
        <a href="./">Home</a>
    </nav>

    <div class="nav-container">
        <nav class="secondary-nav">
            <a href="./introduction.html">Introduction</a>
            <a href="./contract.html">Contract</a>
            <a href="tables.html">Tables</a>
            <a href="./byo_intro.html">BYO Intro</a>
        </nav>

        <nav class="third-nav">
            <a href="hilariousmacaws.co/index.html">Hilarious Macaw Enterprise</a>
            <a href="stuff/MY%20WebPage%20.html">Crappy Webpage</a>
        </nav>
    </div>
</header>


  

